/**
 * @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 * @Since May 4, 2016
 * @Time 5:32:32 PM
 * @Encoding UTF-8
 * @Project Metode-WP
 * @Package Expression package is undefined on line 7, column 15 in Templates/Other/CascadeStyleSheet.css.
 *
 */

body {
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
}